body{
  font-family: "Fredoka", cursive;
}

h1{
    font-weight: bold;
}

img{
  height: 500px;
  width: auto;  
}

h1{
  background-color: #881111;
  color: white;
  padding: 30px;
}
ul{
  background-color: #881111;
}

a{
  color: white;
}